#o-card-title {
  color: #fff;
  font-size: 1em;
  line-height: 2.25rem;
  text-transform: uppercase;
}
.o-card .o-header2 {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}
